/*-----------------------CSS COMMUN A TOUTES LES PAGES---------------------------*/

@import url(https://fonts.googleapis.com/css?family=Titillium+Web);

*, *:before, *:after {
    margin: 0; padding: 0; list-style: none;}
html {
    font-size: 100%;}
body {
    position: relative;
    font-family: 'Titillium Web', sans-serif;}
body, a {
    font-size: 0.95em;}
section {
    padding-bottom: 3em;;
    margin: 0;
    text-align: center;}
.container{padding: 15px 15px 0}
h1, h2 {
     color: #333; text-transform: uppercase;}
h1 {
    margin-bottom: 50px;}
h2 {
    margin-top:1em;
    font-weight: bold;
    text-align: left;}
h3{font-weight: bold;}
h2, h3, h4, p{
    margin-bottom: 1em;
    font-weight: lighter;}
.x-large {
    font-size: 2.5em;}
.large {
    font-size: 2.3em;}
.medium {
    font-size: 1.6em;}
.small {
    font-size: 1.2em;}
.x-small {
    font-size: 1.1em;}
a:hover {
    text-decoration: none;}
.button {
    cursor: pointer;}
img {
    max-width: 100%;
    padding-bottom: 1em;}
.navbar{
    top: 2em;}
/*-----------------------------------------header----------------------------------------*/

/*---------------------------------------page index--------------------------------------*/
/******************************
**********SLIDER***************
******************************/
.btn-slider-1, .btn-slider-2{text-transform: uppercase; background-color: transparent; border: 1px solid white; color:white; padding:1em 0 1em 0; margin:0 3em 14em 0;}
.btn-slider-1:hover, .btn-slider-2:hover{background-color: transparent; border:1px solid #C0C0C0; transition-duration: 0.5s;}
.carousel-caption{left:12%;} 
.titre-1-slider{color:white; font-size: 4em; text-transform: none; font-weight: lighter; margin: 0 0 0.6em 0; left:2%;}
.titre-2-slider{color:white; font-size: 2em; text-transform: none; font-weight: lighter; margin: 0 0 2em 0;}
/******************************
**********NOS OFFRES***********
******************************/
.texte-offre {padding-left:2em;padding-right:2em;}
/******************************
************COURS************
******************************/

/******************************
************ACTU*************
******************************/
#actu h3{margin:0 0 0.5em 0 ; font-weight: bold;}
#actu p{margin: 0 0.8em 0 0; padding: 0 0 0 1em; }
#actu a{width: 5.5em; padding: 0; margin:0 1em 0.5em 0;}
/******************************
***********CONTACT***********
******************************/
#contact{background-color: #15b2c7;}
#contact .x-large {color:#fff;}
#contact h3 {padding:1.2em 0 0.5em 0; margin:0; color:#fff;}
#contact h4 {padding-bottom: 0.5em; color:#fff;}
#contact textArea {background-color: transparent; border: 1px solid white; color:white;}
textarea:-moz-placeholder {color:white;}
#contact input {background-color: transparent; border: 1px solid white;} 
#contact ::-webkit-input-placeholder { color: #fff; }
#contact :-ms-input-placeholder { color: #fff; }
#contact ::-moz-placeholder { color: #fff; }
#contact :-moz-placeholder { color: #fff; }
#contact p{padding: 2.8em 0 0 0 ; color:white;} 
.btn-contact {text-align:right; }
.btn-contact {text-align:right;}
.form-index {padding-top: 1.8em;}

/*----------------------------------------------------page ecole----------------------------------*/
/*----------------------------------------------------page partenaire-----------------------------*/
/*----------------------------------------------------page actualité blog-------------------------*/
/*----------------------------------------------------page contact--------------------------------*/
#contact img{padding: 0;}
/*------------------------------------------------------footer-------------------------------------*/
#footer{border-top: 1px solid #15b2c7; padding-top: 1em; }
#footer h3{text-transform: uppercase; font-weight: bold; font-size: 1.2em;}
#footer p{margin: 0;  text-transform: initial}
#footer > img{margin: 0 0 2em 0;}
.footer-ecole  , .footer-form-chin{padding-left: 5em;}
/******************************
*******ROW LOGO DE LECOLE*****
******************************/
.logo-footer{margin: 1.4em 0 4.5em 0;}
.h3-col-droite{padding:0 0 1em 0;}
/******************************
*****ROW FORMATION CHINOIS*****
******************************/

/******************************
*********ROW LECOLE************
******************************/

/******************************
********ROW SUIVEZ NOUS********
******************************/
.picto-reseaux{padding: 0 1.2em 0 0;}
.div-reseaux{padding: 0 0 0 2em;}
.div-reseaux h3{padding:0 0 0.7em 0;}
.picto-reseaux-last{padding: 0 ;}
/******************************
********MENTIONS********
******************************/
.mentions{border-top:1px solid black; margin:2em 0 0 0;}
.mentions .p-mentions{ padding:2em 0 0 0;}